.news-list {
    width: 92%;
    margin: 40px auto;
}

.news-item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.news-item>a {
    text-decoration: none;
}

.news-item .item-box {
    display: block;
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
}

.news-item .item-box:hover h3 {
    color: #cf000d;
}

.news-item .item-box:hover .more {
    color: #cf000d;
    background: url(../imgs/more1.png) no-repeat center bottom;
}

.news-item .time {
    font-size: 40px;
    color: #b0b0b0;
    float: left;
}

.news-item .time time {
    display: block;
    color: #888888;
    font-size: 14px;
}

.news-item .time1>span {
    display: block;
    color: #b0b0b0;
    font-size: 20px;
    text-decoration: none;
}

.news-content {
    width: 80%;
    float: right;
    padding-right: 98px;
    margin-top: 6px;
    position: relative;
}

.news-info h3 {
    font-size: 18px;
    color: #555555;
    font-weight: bold;
    height: 24px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-info p {
    color: #888888;
    margin-top: 14px;
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:990px) {
    .news-content {
        display: block;
        width: 95%;
        float: none;
    }
    /* .news-info p {
        width: 100%;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    } */
}

.news-content .more {
    position: absolute;
    right: 0px;
    font-size: 12px;
    top: 4px;
    color: #555555;
    padding-bottom: 15px;
    background: url(../imgs/more.png) no-repeat center bottom;
}

.news {
    position: relative;
}

.news img {
    width: 100%;
}

.news div {
    position: absolute;
    /* width:100%;
    height:200px; */
    text-align: center;
    line-height: 200px;
    top: 15%;
    left: 42%;
    font-size: 52px;
    color: #fff;
}

.main .news-list li {
    margin: 0 0 5px 0;
}